# CakePHP
/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/config/app.php
/config/Migrations/schema-dump-migration.lock
/logs/*
!/logs/empty
/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty
/tmp/debug_kit.sqlite
/vendor/*
/vendors/*
/composer.lock
/phpunit.xml
/build
/dist
/tags
/composer.lock
/phpunit.xml
/composer.phar
*.mo
debug.log
error.log
.phpunit.result.cache